---
id: ba37b1f0-0017-11ea-9149-d386e8a6bfdd
title: O životu i življenju
date: 2024-08-18
desc: Da li se budiš osećajući se ispunjeno? Noću, da li osećaš smirenost pre sna — bez preispitivanja i prekomernog analiziranja?
seoDesc: Moja lična filozofija, pogledi i misli o tome šta je važno za ispunjen i "srećan" život.
tags: '#lifestyle'
---
 
# {title}

{desc} Koliko često zastaneš da osvestiš dobre stvari u svom životu? **Koliko se često igraš?**

<div class="img">

![Izlazak sunca na Arubi: Alto Vista Chapel](./sunrise.jpg)

<small>
Izlazak sunca na Arubi: Alto Vista Chapel
</small>
</div>

&nbsp;

Veliki deo života provodimo izgubljeni u mislima, a još veći deo živimo u rutini 
bez dubljeg razumevanja zašto. Život je po svojoj prirodi izazovan — spoj prokletstva i blagoslova.

&nbsp;

Verujem da svako u nekom trenutku života dođe do tačke kada pokušava da shvati 
sopstveno postojanje i nadje smisao (raison d'être, ikigai). Mnogi se ovim 
pitanjima vraćamo kako godine prolaze. Možda su neki dovoljno srećni da rano 
shvate kako je ova potraga uglavnom uzaludna. Objektivno gledano, potpuno je 
nebitno za koga ili kako živimo svoj život. --fix

Ipak, potpuno prihvatanje nihilističkog 
stava moglo bi nas lišiti nekih užitaka koje bismo inače iskusili.

&nbsp;

Verujem da je korisno boriti se sa ovim mislima neko vreme, dok na kraju ne 
dođemo do ličnih istina koje čine život lakšim i ispunjenijim. Moja trenutna 
uverenja teže ka apsurdu. Apsurd ne znači da je život potpuno besmislen, već da 
nema jasno definisan, unapred određen cilj. To podrazumeva prihvatanje nepredvidljivosti 
života, koji može delovati besmisleno, ali ipak biramo da živimo autentično i 
stvaramo lični smisao kroz svoje postupke, odnose i iskustva. Prihvatamo da ne 
postoji veći smisao ili svrha, ali se ipak trudimo da uživamo u što više toga. 
Kreuramo svoju priču.

&nbsp;

**Život je poput platna.** Možete ga slikati, prepravljati i započinjati 
ispočetka, iznova i iznova 🎨🎨

<div class="note">
<p>
Nema posebnog reda ili prioriteta u odeljcima koji slede. Ovo su jednostavno 
moje misli (pomalo nasumične) danas (avgust 2024) i, naravno, mogu se promeniti 
u godinama koje slede. Vrlo verovatno hoċe.
</p>
</div>

## Radoznalost i stvaranje

Oduvek sam bila radoznala o širokom spektru tema i željna da isprobam različite 
hobije dok ne pronađem nešto što mi odgovara. Odrastanje u malom gradu od 3.000 
ljudi otežavalo je ostvarenje većine mojih snova. Kao dete, bila sam usamljena 
i često mi je bilo dosadno. Nisam imala mnogo prijatelja. Zanimljivo je to kako je lako u tim dečjim godinama "odbaciti"k

&nbsp;

Ali možemo se i dalje igrati i istraživati kao odrasli, i to je ono što sam radila poslednjih nekoliko godina, isprobavajući različite hobije i istražujući razne interese. **Želja za učenjem i stvaranjem je ono što istinski obogaćuje život.** Važno je uživati u tim potragama fokusirajući se na ljubav i radost koju donose, a ne stalno razmišljati o novcu i dobitima. Naravno, u današnjem svetu moramo osigurati i finansijsku stabilnost. Dobra stvar je što nas unutrašnja radoznalost najviše podstiče da naporno radimo i dostignemo svoje snove. Balansiranje strasti i praktičnosti dok se izbegava sagorevanje je ključno.


#### Čitanje

Jedna stvar na kojoj sam veoma zahvalna svom tati jeste što je negovao moju ljubav prema čitanju. Knjige su bile moj beg u osnovnoj školi, oblikujući moje razmišljanje, kreativnost i mentalni razvoj. Danas ima mnogo buke u svetu (svi pišu), ali dobre knjige i uvidi se mogu naći.

## Zdrav um i emocije 🧘🏽

**Smiri um.** Smiri um. Nauči da ne živiš samo u svojoj glavi. Nauči da ignorišeš buku i besmislice koje nas okružuju. Nauči da ceniš sadašnji trenutak. Mnogi zanemaruju važnost meditacije — i ja sam nekada bila jedna od njih. Kada redovno meditiram (a daleko sam od iskusne meditatorice), primetno sam manje pod stresom i zabrinuta, fokusiranija i spremnija da prihvatim sve što mi dolazi. Život teče lakše. Teško je to objasniti; mora se iskusiti.

&nbsp;

Pored meditacije, terapija i emocionalno samoistraživanje su ključni za razvoj zdravog pojedinca. Svi smo nesavršeni na načine koje možda ni ne shvatamo dok ne počnemo da istražujemo. To je doživotni posao, ali neverovatno nagrađujući. **Ne možeš u potpunosti ceniti život ili sadašnji trenutak sa uznemirenim umom ili emocijama.**

## Putovanja i priroda

<div class="img">

![Zalazak sunca na Kostarici: Santa Teresa](./sunset.jpg)

<small>
Zalazak sunca na Kostarici: Santa Teresa
</small>
</div>

&nbsp

Tokom protekle dve godine, krenula sam na nekoliko solo putovanja koja su preoblikovala moj način života i percepciju sveta. Ova iskustva naučila su me da usporim, budem potpuno prisutna i pronađem radost u jednostavnim trenucima. Provođenje vremena u samoći omogućava nam da se dublje povežemo sa sobom i svetom oko nas. Nikada nisam istinski cenila jednostavnu šoljicu kafe — uvek je bila nešto što bih konzumirala dok radim više stvari istovremeno. Sada često zapažam njen ukus i toplinu.

&nbsp;

Postoji nešto isceljujuće i meditativno u tome da budete okruženi vodom, talasima i prirodom. Nije iznenađujuće da ljudi koji žive pored mora često izgledaju srećniji. Doživljavanje ovog načina života nateralo me je da shvatim koliko želim dom blizu vode i planina. Bilo da je reč o ranom buđenju kako bih išla u planinarenje i gledala izlazak sunca, ili opuštanju na plaži nakon posla dok sunce zalazi, ovi trenuci donose mi duboku radost i ispunjenost.

## Ljudi

Ljudi su komplikovani. Nekima je teško udovoljiti. Drugi trebaju pomoć, ali je ne žele. Mnogi odrastaju ravnodušni i neznalici, uvereni da su bolji od drugih. Kada sam bila mlađa, verovala sam da su svi ljudi dobri u srcu. Možda svi tako počinjemo, ali kao odrasla osoba, shvatila sam da postoje zaista okrutni i zlonamerni ljudi. Dobrota koju su nekada imali zakopana je duboko u njihovoj podsvesti, ponekad izvan dosega. Važno je naučiti kako da zadržiš one koji te podižu blizu, a da smanjiš vreme provedeno s onima koji to ne čine.

&nbsp;

Takođe postoje neverovatni ljudi na ovom svetu, istina koju sam dublje spoznala tokom svojih putovanja. U protekle dve godine, susrela sam se s ljudima iz različitih sredina, svako sa svojom jedinstvenom pričom. Upoznala sam izuzetno uspešne ljude, one koji su pobegli iz ratom razorene zemlje, i druge čije su se porodice borile sa zavisnostima. Čak sam srela i dobronamernog čoveka koji, iako je proveo nekoliko godina svoje mladosti u kolumbijskom zatvoru zbog kokaina, zrači saosećanjem. Usput, nasumični stranci postali su prijatelji, pomažući mi na mom putovanju na načine koje nisam očekivala.

&nbsp;

Život nije lak, ali možemo izabrati da pronađemo ispunjenost i težimo tome da budemo najbolje verzije sebe

&nbsp;

<div class="ending">
<pre>
You don't see things as they are.
You see them as you are. 
Change yourself and you change the world.
</pre>
<small>
Derek Sivers
</small> 
</div>


