@import '$lib/styles/vsc-theme.scss';

:root {
	--bg-color: #f3f3f2;
	--font-color: #4d4d4d;
	--heading-color: #333333;
	--link-color: #3b82b1;
	--link-gray: #333333;
	--mountain-bottom: #333333;
	--mountain-top: #c5c4c2;
	--card-border-color: #d1d1d1;
	--card-border-hover-color: #6e6e6e;
	--code-bg: #f4ebd4;
	--muted: #817f7a;
	--pink: #d28db8;
	--note: #39adb5;
	--ending: var(--font-color);
}

[data-theme='dark'] {
	--bg-color: #212121;
	--font-color: #b7b7b7;
	--heading-color: #d6d6d6;
	--link-color: #5797ae;
	--link-gray: #acaaa6;
	--mountain-bottom: #151515;
	--mountain-top: #313131;
	--card-border-color: hsla(0, 0%, 100%, 0.15);
	--card-border-hover-color: #7e7e7e;
	--code-bg: #2e2a29;
	--muted: #9a9995;
	--pink: #b08aa3;
	--note: #cca255;
	--ending: #676663;
}

body {
	background-color: var(--bg-color);
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;

	@font-face {
		font-family: 'THICCCBOI-Regular';
		src: url('$lib/fonts/THICCCBOI-Regular.woff2') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'THICCCBOI-Medium';
		src: url('$lib/fonts/THICCCBOI-Medium.woff2') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'THICCCBOI-Bold';
		src: url('$lib/fonts/THICCCBOI-Bold.woff2') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'THICCCBOI-ExtraBold';
		src: url('$lib/fonts/THICCCBOI-ExtraBold.woff2') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	* {
		box-sizing: border-box;
	}

	p,
	a,
	small,
	pre,
	ul li {
		color: var(--font-color);
		font-family:
			THICCCBOI-Regular,
			ui-sans-serif,
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Helvetica Neue,
			Arial,
			sans-serif,
			Apple Color Emoji,
			Segoe UI Emoji,
			Segoe UI Symbol;

		box-sizing: border-box;
	}

	p {
		font-size: 16px;
		line-height: 1.7;
		margin: 0 0 4px 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: var(--font-color);
		font-family:
			THICCCBOI-Bold,
			ui-sans-serif,
			system-ui,
			-apple-system,
			Arial,
			sans-serif;
		line-height: 1.3;
		margin: 0px;
	}

	h1 {
		font-size: 27px;
		padding: 6px 0px 24px 0px;
		color: var(--heading-color);
		max-width: 470px;
	}

	h2 {
		font-size: 24px;
		padding: 34px 0px 16px 0px;
		color: var(--heading-color);
	}

	h3 {
		font-size: 21px;
		padding: 34px 0px 8px 0px;
		color: var(--heading-color);
	}

	h4 {
		font-size: 18px;
		padding: 34px 0px 8px 0px;
	}

	h5 {
		font-size: 17px;
		padding: 10px 0 8px 0;
	}

	a {
		color: var(--link-color);
		transition: color 0.2s;
		text-decoration: none;
		padding: 0 2px;

		&:hover {
			border-bottom: 1px solid var(--link-color);
		}
	}

	small {
		font-size: 12px;
		color: var(--muted);
	}

	code {
		padding: 1px 3px 2px 3px;
		font-size: 98%;
		background: var(--code-bg);
		border-radius: 2px;
		color: #c47a5b;
		font-family: THICCCBOI-Medium;
	}

	pre[class*='language-'] {
		position: static;
		@include responsive(border-radius, 0, $sm: 4px);
		@include responsive(width, min(calc(100vw - 1px), 556px), $sm: unset);

		code[class*='language-'] {
			padding: 0;
			@include responsive(font-size, 15px, $sm: 16px);
		}
	}

	.light-theme pre[class*='language-'] {
		margin: 16px -24px 28px -24px;
		background: var(--code-bg);
		border: none;

		code[class*='language-'] {
			background: var(--code-bg);
		}
	}

	.dark-theme pre[class*='language-'] {
		margin: 16px -24px 28px -24px;
		background: var(--code-bg);
		border: none;

		code[class*='language-'] {
			background: var(--code-bg);
		}
	}

	ul {
		padding-left: 28px;
		margin-bottom: 28px;

		li {
			font-size: 16px;
			line-height: 1.5;
		}

		li:not(:last-child) {
			padding-bottom: 14px;
		}
	}

	strong {
		font-family: THICCCBOI-Bold;
	}

	.note {
		border: 1px solid var(--note);
		margin: 24px -24px 32px -24px;
		padding: 21px 24px 14px 24px;
		background: var(--bg-color);
		@include responsive(border-radius, 0, $sm: 4px);
		box-shadow: 0px 24px 26px -26px rgba(0, 0, 0, 0.1);
		font-style: italic;

		p:first-of-type::before {
			content: 'NOTE:';
			font-style: normal;
			top: 20px;
			left: 24px;
			padding-right: 4px;
			color: var(--note);
			font-family: THICCCBOI-Medium;
		}
	}

	.md-images {
		display: flex;
		column-gap: 56px;
		justify-content: center;
		margin: 0 -24px 28px -24px;
		@include responsive(flex-direction, column, $sm: row);
		align-items: center;

		p {
			margin-bottom: 0;
		}

		small {
			margin-bottom: 12px;
			padding-left: 24px;
			font-style: italic;
			position: relative;
			bottom: 4px;
		}

		img {
			max-width: 200px;
			border-radius: 4px;
			margin-top: 20px;
		}
	}

	.img,
	.heroImg {
		width: 100%;

		p {
			margin: 16px -24px 0 -24px;

			img {
				width: 100%;
				margin: 0;
				@include responsive(border-radius, 0, $sm: 4px);
			}

			small {
				padding-left: 24px;
			}
		}
	}

	.heroImg {
		p {
			margin-top: 0;
			margin-bottom: 28px;

			img {
				@include responsive(border-radius, 0, $sm: 6px);
			}
		}
	}

	.ending {
		border-top: 1px solid var(--ending);
		padding-top: 8px;
		margin-top: 16px;
		padding-top: 16px;

		pre {
			line-height: 28px;
			margin-top: 0;
		}
	}

	@include breakpoint(xl) {
		p {
			font-size: 17px;
		}

		h1 {
			font-size: 32px;
		}

		h2 {
			font-size: 28px;
		}

		h3 {
			font-size: 24px;
		}

		h4,
		h5 {
			font-size: 20px;
		}

		small {
			font-size: 13px;
		}

		pre {
			font-size: 16px;
		}

		ul {
			li {
				font-size: 18px;
			}
		}
	}
}
