@import '$lib/styles/vsc-dark-plus.css';

body {
	--bg-color: #212121;
	--font-color: #b7b7b7;
	--heading-color: #d6d6d6;
	--link-color: #5797ae;

	background-color: var(--bg-color);
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;

	@font-face {
		font-family: 'THICCCBOI-Regular';
		src: url('$lib/fonts/THICCCBOI-Regular.woff2') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'THICCCBOI-Medium';
		src: url('$lib/fonts/THICCCBOI-Medium.woff2') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'THICCCBOI-Bold';
		src: url('$lib/fonts/THICCCBOI-Bold.woff2') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'THICCCBOI-ExtraBold';
		src: url('$lib/fonts/THICCCBOI-ExtraBold.woff2') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	* {
		box-sizing: border-box;
	}

	p,
	a,
	ul li {
		color: var(--font-color);
		font-family:
			THICCCBOI-Regular,
			ui-sans-serif,
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Helvetica Neue,
			Arial,
			Noto Sans,
			sans-serif,
			Apple Color Emoji,
			Segoe UI Emoji,
			Segoe UI Symbol,
			Noto Color Emoji;

		box-sizing: border-box;
	}

	p {
		font-size: 18px;
		line-height: 1.7;
		margin: 0 0 4px 0;

		img {
			max-width: 200px;
			border-radius: 4px;
			margin-top: 20px;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		color: var(--font-color);
		font-family:
			THICCCBOI-Bold,
			ui-sans-serif,
			system-ui,
			-apple-system,
			Arial,
			sans-serif;
		line-height: 1.3;
		margin: 0px;
	}

	h1 {
		font-size: 28px;
		padding: 6px 0px 24px 0px;
		color: var(--heading-color);
		max-width: 480px;
	}

	h2 {
		font-size: 22px;
		padding: 32px 0px 16px 0px;
		margin-top: 24px;
	}

	h3 {
		font-size: 18px;
		padding: 32px 0px 8px 0px;
	}

	h4 {
		font-size: 18px;
		padding: 8px 0px;
	}

	a {
		color: var(--link-color);
		transition: color 0.2s;
		text-decoration: none;
		padding: 0 2px;

		&:hover {
			border-bottom: 1px solid var(--link-color);
		}
	}

	small {
		font-size: 13px;
		color: #9a9995;
	}

	code {
		padding: 1px 3px 2px 3px;
		font-size: 98%;
		background: #3b3635;
		border-radius: 2px;
		color: #c47a5b;
		font-family: THICCCBOI-Medium;
	}

	pre[class*='language-'] {
		position: static;
		background: #2e2a29;
		padding: 14px 24px;
		margin: 16px -24px 28px -24px;
		@include responsive(border-radius, 0, $md: 4px);
		@include responsive(width, min(calc(100vw - 1px), 556px), $md: unset);

		code[class*='language-'] {
			padding: 0;
			@include responsive(font-size, 15px, $md: 16px);
			background: #2e2a29;
		}
	}

	ul {
		padding-left: 28px;
		margin-bottom: 28px;

		li {
			font-size: 18px;
			line-height: 1.5;
		}

		li:not(:last-child) {
			padding-bottom: 14px;
		}
	}

	strong {
		font-family: THICCCBOI-Bold;
	}

	.note {
		border: 1px solid #cca255;
		margin: 24px -24px 32px -24px;
		padding: 21px 24px 14px 24px;
		background: var(--bg-color);
		@include responsive(border-radius, 0, $md: 4px);

		p {
			@include responsive(font-size, 16px, $md: 17px);
		}

		p:first-of-type::before {
			content: 'NOTE:';
			top: 20px;
			left: 24px;
			padding-right: 4px;
			color: #cca255;
			font-family: THICCCBOI-Medium;
		}
	}

	.md-images {
		display: flex;
		column-gap: 56px;
		justify-content: center;
		margin: 0 -24px 28px -24px;
		@include responsive(flex-direction, column, $md: row);
		align-items: center;

		p {
			margin-bottom: 0;
		}

		small {
			margin-bottom: 12px;
			padding-left: 24px;
			font-style: italic;
			position: relative;
			bottom: 4px;
		}
	}

	.ending {
		border-top: 1px solid #676663;
		padding-top: 8px;
		margin-top: 16px;
	}
}
